In [1]:
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
df['target'] = iris.target
df.head()

   sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                5.1               3.5  ...               0.2       0
1                4.9               3.0  ...               0.2       0
2                4.7               3.2  ...               0.2       0
3                4.6               3.1  ...               0.2       0
4                5.0               3.6  ...               0.2       0

[5 rows x 5 columns]

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [7]:
lr = LinearRegression()
lgr = LogisticRegression(max_iter=15000)
dtc = DecisionTreeClassifier()
rfc = RandomForestClassifier(max_features=.1)

In [8]:
from sklearn.model_selection import cross_val_score

In [9]:
x = df.iloc[:,0:4]
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [10]:
y = df.iloc[:,4]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int64

In [11]:
cross_val_score(lr, x, y)

array([0.        , 0.85124923, 0.        , 0.76155439, 0.        ])

In [12]:
cross_val_score(lgr, x, y)

array([0.96666667, 1.        , 0.93333333, 0.96666667, 1.        ])

In [13]:
cross_val_score(dtc, x, y)

array([0.96666667, 0.96666667, 0.9       , 0.93333333, 1.        ])

In [14]:
cross_val_score(rfc, x, y)

array([0.96666667, 0.96666667, 0.93333333, 0.93333333, 1.        ])