In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')
df.head()

,score,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q34,Q35,Q36,Q37,Q38,Q39,Q40,elapse,gender,age
0,18,2,2,2,2,1,2,1,2,2,...,1,1,2,2,2,1,2,211,1,50
1,6,2,2,2,1,2,2,1,2,1,...,2,1,2,2,2,2,1,149,1,40
2,27,1,2,2,1,2,1,2,1,2,...,1,2,1,1,2,1,2,168,1,28
3,29,1,1,2,2,2,1,2,1,1,...,1,2,1,2,2,1,1,230,1,37
4,6,1,2,1,1,1,2,1,2,1,...,2,1,2,2,2,0,1,389,1,50

In [4]:
x = df.drop(['score'], axis=1)

In [5]:
y = df['score']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
(xtrain, xtest, ytrain, ytest) = train_test_split(x, y, test_size=0.2)

In [9]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge

In [10]:
lr = LinearRegression()
lsr = Lasso(alpha=10, max_iter=1000000, tol=0.0001)
rdr = Ridge(alpha=10, max_iter=1000000, tol=0.0001)

In [11]:
lr.fit(xtrain, ytrain)

LinearRegression()

In [12]:
lr.score(xtest, ytest)

-23.637827928541657

In [13]:
lsr.fit(xtrain, ytrain)

Lasso(alpha=10, max_iter=1000000)

In [14]:
lsr.score(xtest, ytest)

-722.0731537003004

In [15]:
rdr.fit(xtrain, ytrain)

Ridge(alpha=10, max_iter=1000000, tol=0.0001)

In [16]:
rdr.score(xtest, ytest)

-23.731850172736376