In [1]:
import pandas as pd

In [2]:
y = pd.Period('2016')
y

Period('2016', 'A-DEC')

In [3]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [4]:
y.year

2016

In [5]:
y.weekofyear

52

In [6]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [7]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [8]:
m = pd.Period('2016-01', freq='M')

In [9]:
m

Period('2016-01', 'M')

In [10]:
m.start_time

Timestamp('2016-01-01 00:00:00')

In [12]:
m.end_time

Timestamp('2016-01-31 23:59:59.999999999')

In [13]:
m + 1

Period('2016-02', 'M')

In [14]:
m + 14

Period('2017-03', 'M')

In [15]:
d = pd.Period('2016-01-01', freq='D')

In [16]:
d

Period('2016-01-01', 'D')

In [18]:
d + 366

Period('2017-01-01', 'D')

In [19]:
h = pd.Period('2016-01-01 00:00:00', freq='H')

In [20]:
h

Period('2016-01-01 00:00', 'H')

In [21]:
h + 25

Period('2016-01-02 01:00', 'H')

In [22]:
dir(h)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [23]:
d.is_leap_year

True

In [24]:
dir(h)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_offset',
 '_add_timedeltalike_scalar',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 '_require_matching_freq',
 'asfreq',
 'day',
 'day_of_week',
 'day_of_year',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [25]:
h.is_leap_year

True

In [31]:
q = pd.Period('2016Q1')

In [32]:
q

Period('2016Q1', 'Q-DEC')

In [38]:
q_fiscal_year = pd.Period('2016Q1', freq='Q-JAN')

In [39]:
q_fiscal_year

Period('2016Q1', 'Q-JAN')

In [40]:
q_fiscal_year + 1

Period('2016Q2', 'Q-JAN')

In [41]:
q_fiscal_year.start_time

Timestamp('2015-02-01 00:00:00')

In [42]:
h

Period('2016-01-01 00:00', 'H')

In [43]:
h + pd.offsets.Hour(6)

Period('2016-01-01 06:00', 'H')

In [44]:
period_index = pd.period_range(start='2016', end='2018', freq='Q-JAN')

In [45]:
period_index

PeriodIndex(['2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1',
             '2018Q2', '2018Q3', '2018Q4'],
            dtype='period[Q-JAN]')

In [47]:
period_index[0].start_time

Timestamp('2015-11-01 00:00:00')

In [48]:
period_index[0].end_time

Timestamp('2016-01-31 23:59:59.999999999')

In [51]:
period_index = pd.period_range(start='2016', periods=2, freq='Q-JAN')

In [52]:
period_index

PeriodIndex(['2016Q4', '2017Q1'], dtype='period[Q-JAN]')

In [53]:
import numpy as np

In [54]:
period_random = pd.Series(np.random.randint(len(period_index)), period_index)

In [55]:
period_random

2016Q4    0
2017Q1    0
Freq: Q-JAN, dtype: int64

In [57]:
period_random.index

PeriodIndex(['2016Q4', '2017Q1'], dtype='period[Q-JAN]')

In [58]:
period_rendom_time = period_random.to_timestamp()
period_rendom_time

2015-11-01    0
2016-02-01    0
dtype: int64

In [59]:
period_rendom_time.index

DatetimeIndex(['2015-11-01', '2016-02-01'], dtype='datetime64[ns]', freq=None)

In [60]:
period = pd.Period('2016Q1', freq='Q-JAN')
period

Period('2016Q1', 'Q-JAN')

In [61]:
period_range = pd.period_range(start='2016Q1', periods=12, freq='Q-JAN')
period_range

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4'],
            dtype='period[Q-JAN]')

In [65]:
period_random = pd.Series(np.random.randint(0, 4, len(period_range)), period_range)

In [66]:
period_random

2016Q1    1
2016Q2    0
2016Q3    2
2016Q4    1
2017Q1    1
2017Q2    1
2017Q3    0
2017Q4    0
2018Q1    0
2018Q2    1
2018Q3    3
2018Q4    1
Freq: Q-JAN, dtype: int32

In [67]:
period_random.index

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2', '2018Q3', '2018Q4'],
            dtype='period[Q-JAN]')

In [70]:
period_random.loc['2016Q1':'2016Q4']

2016Q1    1
2016Q2    0
2016Q3    2
2016Q4    1
Freq: Q-JAN, dtype: int32

In [71]:
period_random_time = period_random.to_timestamp()

In [72]:
period_random_time

2015-02-01    1
2015-05-01    0
2015-08-01    2
2015-11-01    1
2016-02-01    1
2016-05-01    1
2016-08-01    0
2016-11-01    0
2017-02-01    0
2017-05-01    1
2017-08-01    3
2017-11-01    1
Freq: QS-NOV, dtype: int32

In [73]:
period_random_time.index

DatetimeIndex(['2015-02-01', '2015-05-01', '2015-08-01', '2015-11-01',
               '2016-02-01', '2016-05-01', '2016-08-01', '2016-11-01',
               '2017-02-01', '2017-05-01', '2017-08-01', '2017-11-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [74]:
df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [75]:
df.set_index('Line Item', inplace=True)

In [76]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [77]:
df = df.T

In [78]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [79]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [80]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')

In [81]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [82]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [83]:
df['Start Date'] = df.index.map(lambda x: x.start_time)

In [84]:
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [85]:
df['End Date'] = df.index.map(lambda x: x.end_time)

In [86]:
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999

In [87]:
df.index.start_time

DatetimeIndex(['2016-02-01', '2016-05-01', '2016-08-01', '2016-11-01',
               '2017-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [88]:
df.index.end_time

DatetimeIndex(['2016-04-30 23:59:59.999999999',
               '2016-07-31 23:59:59.999999999',
               '2016-10-31 23:59:59.999999999',
               '2017-01-31 23:59:59.999999999',
               '2017-04-30 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)