In [1]:
import pandas as pd

In [2]:
df_temperature = pd.DataFrame({
    'city': ['newyork', 'chicago', 'orlando'], 
    'temperature': [30, 32, 28], 
})
df_humidity = pd.DataFrame({
    'city': ['newyork', 'chicago', 'orlando'], 
    'humidity': [70, 80, 90]
})

In [3]:
df = pd.merge(df_temperature, df_humidity, on='city')
df

      city  temperature  humidity
0  newyork           30        70
1  chicago           32        80
2  orlando           28        90

In [4]:
df_temperature = pd.DataFrame({
    'city': ['newyork', 'chicago', 'orlando', 'batimore'], 
    'temperature': [30, 32, 28, 26], 
})
df_humidity = pd.DataFrame({
    'city': ['newyork', 'chicago'], 
    'humidity': [70, 80]
})

In [5]:
df = pd.merge(df_temperature, df_humidity, on='city')
df

      city  temperature  humidity
0  newyork           30        70
1  chicago           32        80

In [6]:
df = pd.merge(df_temperature, df_humidity, how='outer', on='city', indicator=True)
df

       city  temperature  humidity     _merge
0   newyork           30      70.0       both
1   chicago           32      80.0       both
2   orlando           28       NaN  left_only
3  batimore           26       NaN  left_only

In [7]:
df_temperature = pd.DataFrame({
    'city': ['newyork', 'chicago', 'orlando', 'batimore'], 
    'temperature': [30, 32, 28, 26], 
})
df_humidity = pd.DataFrame({
    'city': ['newyork', 'chicago'], 
    'humidity': [70, 80]
})

In [10]:
df_left = pd.merge(df_temperature, df_humidity, how='left', on='city')
df_left

       city  temperature  humidity
0   newyork           30      70.0
1   chicago           32      80.0
2   orlando           28       NaN
3  batimore           26       NaN

In [11]:
df_right = pd.merge(df_temperature, df_humidity, on='city', how='right')
df_right

      city  temperature  humidity
0  newyork           30        70
1  chicago           32        80

In [12]:
df_temperature = pd.DataFrame({
    'city': ['newyork', 'chicago', 'orlando'], 
    'temperature': [30, 32, 28], 
})
df_humidity = df_humidity = pd.DataFrame({
    'city': ['newyork', 'chicago', 'orlando'], 
    'temperature': [30, 32, 28], 
    'humidity': [70, 80, 90]
})

In [13]:
df = pd.merge(df_temperature, df_humidity, on='city')
df

      city  temperature_x  temperature_y  humidity
0  newyork             30             30        70
1  chicago             32             32        80
2  orlando             28             28        90

In [15]:
df = pd.merge(df_temperature, df_humidity, on='city', suffixes=['_left', '_right'])
df

      city  temperature_left  temperature_right  humidity
0  newyork                30                 30        70
1  chicago                32                 32        80
2  orlando                28                 28        90