In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('msft.csv', header=[1])
df

               Date Time  Price
0   8/17/2017 9:00:00 AM  72.38
1   8/17/2017 9:15:00 AM  71.00
2   8/17/2017 9:30:00 AM  71.67
3  8/17/2017 10:00:00 AM  72.80
4  8/17/2017 10:30:00 AM  73.00
5  8/17/2017 11:00:00 AM  72.50

In [10]:
df = pd.read_csv('msft.csv', header=1, index_col='Date Time', parse_dates=['Date Time'])
df

                     Price
Date Time
2017-08-17 09:00:00  72.38
2017-08-17 09:15:00  71.00
2017-08-17 09:30:00  71.67
2017-08-17 10:00:00  72.80
2017-08-17 10:30:00  73.00
2017-08-17 11:00:00  72.50